.text {
    margin: 200px;
}
.container {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    margin: 30px;
    font-size: 40px;
}
.label {
    margin-top: 400px;
}
.in {
    margin-left: 20px;
    
}